@import url("https://fonts.googleapis.com/css?family=Caveat");
* {
  box-sizing: border-box; }

html {
  font-size: 100%; }
  @media (min-width: 1024px) {
    html {
      font-size: 125%; } }

h1, h2, h3, h4, p, a, span, strong, section, div, article {
  color: #525451;
  font-family: Helvetiva, Arial, sans-serif; }

h1, h2, h3, h4 {
  font-size: 1.4rem;
  line-height: 1.4rem; }

h2, h3, h4 {
  font-family: "Caveat", cursive; }

h1, h2 {
  background: #fffa no-repeat;
  background-size: cover;
  display: inline;
  position: relative;
  font-weight: 700;
  padding: 4px 20px;
  border-radius: 70px; }
  h1:before, h2:before {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -82px;
    width: 82px;
    height: 100%; }
  h1:after, h2:after {
    content: '';
    background-size: cover;
    position: absolute;
    top: -2px;
    right: -86px;
    width: 86px;
    height: 100%; }

nav, header, section, footer {
  padding: 20px; }

nav, header, section, footer, div {
  box-sizing: border-box; }

nav.row {
  align-items: flex-end; }
@media (min-width: 684px) {
  nav.row {
    justify-content: space-between; } }
@media (min-width: 768px) {
  nav .logo {
    padding-left: 20px; } }
@media (min-width: 1280px) {
  nav .logo {
    padding-left: 40px; } }
nav img {
  width: 100%;
  height: auto;
  padding: 0 0 10px;
  max-width: 200px; }
  @media (min-width: 684px) {
    nav img {
      padding: 0; } }
nav a {
  font-family: "Caveat", cursive;
  font-size: 1.4rem;
  padding: 0 10px;
  line-height: 20px;
  text-decoration: none; }
  nav a:nth-of-type(n+2) {
    border-left: solid 2px #525451; }

.container {
  max-width: 1240px;
  margin: auto; }

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

header {
  min-height: 30vh;
  background: url("../img/fresh-strawberries.jpg") no-repeat 20% 20%;
  background-size: cover;
  position: relative; }
  @media (min-width: 1280px) {
    header {
      min-height: 40vh; } }
  header h1 {
    position: absolute;
    right: 40px;
    top: 1rem;
    font-size: 1.6rem;
    line-height: 1.6em;
    max-width: 440px;
    padding: 4px 20px 4px 50px;
    margin: 0; }
    @media (min-width: 1280px) {
      header h1 {
        max-width: 500px;
        right: 80px;
        top: 4rem;
        padding: 15px 30px 15px 50px; } }
  @media (min-width: 500px) {
    header h1 {
      top: 3rem; } }

section {
  padding: 30px;
  display: flex; }
  section a {
    text-decoration: underline; }
  section h2 {
    font-size: 2.2rem;
    line-height: 4.2rem; }
  section.green {
    background: #bfd2b4; }
    section.green h2 {
      color: #7ea668; }
  section.blue {
    background: #a5c2ee; }
    section.blue h2 {
      color: #4984de; }

#reizdarm {
  flex-direction: row;
  align-items: center;
  padding: 15px 25px 25px; }
  #reizdarm img {
    width: 100%;
    height: auto; }
  @media (min-width: 500px) {
    #reizdarm .left, #reizdarm .right {
      flex: 1 50%; }
    #reizdarm .right {
      align-self: flex-end;
      padding-bottom: 0.75em; }
    #reizdarm img {
      padding: 0 0 0 15px; } }

#online-coaching {
  padding: 0; }
  #online-coaching .left {
    flex: 1 100%;
    order: 2;
    min-height: 250px;
    background: url("../img/woman-computer.jpg") no-repeat;
    transform: scaleX(-1);
    background-size: cover; }
  #online-coaching .right {
    padding: 15px 25px 25px; }

#blog {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0; }
  #blog > div {
    padding-left: 30px;
    padding-right: 30px; }
  #blog p, #blog a {
    padding-left: 15px; }
  #blog p {
    font-weight: bold; }
  #blog div.background {
    flex-basis: 100%;
    background: url("../img/veggies.jpg") no-repeat bottom;
    background-size: cover;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative; }
    #blog div.background a {
      color: #525451;
      position: absolute;
      bottom: 20px;
      right: 20px;
      background: #fffa;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer; }
      #blog div.background a:active {
        background: #eeea;
        color: #4B4D4A; }

#ueber-mich {
  padding: 15px 25px 25px; }
  #ueber-mich img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding: 20px; }
  @media (min-width: 500px) {
    #ueber-mich .left, #ueber-mich .right {
      flex: 1 50%; }
    #ueber-mich .right {
      align-self: flex-end;
      padding-bottom: 0.75em; }
    #ueber-mich img {
      padding: 0 0 0 15px; } }

#kontakt {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 25px 25px; }
  #kontakt div {
    flex-basis: 100%;
    text-align: center; }
  #kontakt p, #kontakt a {
    flex-basis: 50%; }
  #kontakt a {
    text-align: right; }

/*# sourceMappingURL=style.css.map */
