@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

$blue: #4984de;
$blue-light: #a5c2ee;
$green: #7ea668;
$green-light: #bfd2b4;
$dark-color: #525451;

$primary-font: Verdana, sans-serif;
$headline-font: 'Sue Ellen Francisco', cursive;

h1, h2, h3, h4, p, a, span, strong, section, div, article {
  color: $dark-color;
  font-family: $primary-font;
}

h1 {
  font-size: 20px;
  line-height: 24px;
}

h2, h3, h4 {
  font-family: $headline-font;
  font-size: 20px;
  line-height: 24px;
}

h1, h2 {
  background: url('../img/watercolor_bkdp_middle.png') no-repeat;
  background-size: cover;
  display: inline;
  position: relative;

  &:before {
    content: '';
    background: url('../img/watercolor_bkdp_left.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -82px;
    width: 82px;
    height: 100%;
  }

  &:after {
    content: '';
    background: url('../img/watercolor_bkdp_right.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: -2px;
    right: -86px;
    width: 86px;
    height: 100%;
  }
}

nav, header, section, footer {
  padding: 20px;
}

nav, header, section, footer, div {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  img {
    max-width: 180px;
    height: auto;
    padding-left: 30px;
  }

  a {
    font-family: $headline-font;
    font-size: 20px;
    padding: 0 10px;
    line-height: 20px;
    text-decoration: none;

    &:nth-of-type(n+2) {
      border-left: solid 2px $dark-color;
    }
  }
}

header {
  min-height: 200px;
  background: url('../img/fresh-strawberries.jpg') no-repeat 20% 20%;
  background-size: cover;
  position: relative;

  h1 {
    position: absolute;
    right: 40px;
    top: 6%;
    max-width: 440px;
    font-size: 28px;
    line-height: 1.8em;
  }

  h1, h1:before, h1:after {
    filter: hue-rotate(180deg);
  }
}

section {
  padding: 30px;
  display: flex;

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 36px;
    line-height: 74px;
    margin: 30px 85px 0;
  }

  &.green {
    background: $green-light;

    h2 {
      color: $green;
    }
  }
  &.blue {
    background: $blue-light;

    h2 {
      color: $blue;
    }
  }
}

#reizdarm {
  flex-direction: row;
  align-items: center;
  padding-right: 0;

  img {
    width: 100%;
    height: auto;
  }

  .left {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .right {
    width: 50%;
  }
}

#online-coaching {
  padding: 0;

  .left {
    width: 42%;
    background: url('../img/woman-computer.jpg') no-repeat;
    background-size: cover;
  }

  .right {
    width: 58%;
    padding: 30px 70px;
  }

}
