@import url('https://fonts.googleapis.com/css?family=Caveat');

$blue: #4984de;
$blue-light: #a5c2ee;
$green: #7ea668;
$green-light: #bfd2b4;
$dark-color: #525451;

$primary-font: Helvetiva, Arial, sans-serif;
$headline-font: 'Caveat', cursive;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @media (min-width: 1024px) {
    font-size: 125%;
  }
}

h1, h2, h3, h4, p, a, span, strong, section, div, article {
  color: $dark-color;
  font-family: $primary-font;
}

h1, h2, h3, h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

h2, h3, h4 {
  font-family: $headline-font;
}

h1, h2 {
  background: #fffa no-repeat;
  background-size: cover;
  display: inline;
  position: relative;
  font-weight: 700;
  padding: 4px 20px;
  border-radius: 70px;

  &:before {
    content: '';
    // background: url('../img/watercolor_bkdp_left.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -82px;
    width: 82px;
    height: 100%;
  }

  &:after {
    content: '';
    // background: url('../img/watercolor_bkdp_right.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: -2px;
    right: -86px;
    width: 86px;
    height: 100%;
  }
}

nav, header, section, footer {
  padding: 20px;
}

nav, header, section, footer, div {
  box-sizing: border-box;
}

nav {
  &.row {
    align-items: flex-end;
  }

  @media (min-width: 684px) {
    &.row {
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    .logo {
      padding-left: 20px;
    }
  }

  @media (min-width: 1280px) {
    .logo {
      padding-left: 40px;
    }
  }

  img {
    width: 100%;
    height: auto;
    padding: 0 0 10px;
    max-width: 200px;

    @media (min-width: 684px) {
      padding: 0;
    }
  }

  a {
    font-family: $headline-font;
    font-size: 1.4rem;
    padding: 0 10px;
    line-height: 20px;
    text-decoration: none;

    &:nth-of-type(n+2) {
      border-left: solid 2px $dark-color;
    }
  }
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    max-width: 1024px;
    margin: auto;
  }
}

header {
  min-height: 30vh;
  background: url('../img/fresh-strawberries.jpg') no-repeat 20% 20%;
  background-size: cover;
  position: relative;

  @media (min-width: 1280px) {
    min-height: 40vh;
  }

  h1 {
    position: absolute;
    right: 40px;
    top: 1rem;
    font-size: 1.6rem;
    line-height: 1.6em;
    max-width: 440px;
    padding: 4px 20px 4px 50px;
    margin: 0;

    @media (min-width: 1280px) {
      max-width: 500px;
      right: 80px;
      top: 4rem;
      padding: 15px 30px 15px 50px;
    }
  }

  @media (min-width: 500px) {
    h1 {
      top: 3rem;
    }
  }
}

section {
  padding: 30px;
  display: flex;

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 4.2rem;
  }

  &.green {
    background: $green-light;

    h2 {
      color: $green;
    }
  }
  &.blue {
    background: $blue-light;

    h2 {
      color: $blue;
    }
  }
}

#reizdarm {
  flex-direction: row;
  align-items: center;
  padding: 15px 25px 25px;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 500px) {
    .left, .right {
      flex: 1 50%;
    }

    .right {
      align-self: flex-end;
      padding-bottom: 0.75em;
    }

    img {
      padding: 0 0 0 15px;
    }
  }

  @media (min-width: 500px) {

  }
}

#online-coaching {
  padding: 0;

  .left {
    flex: 1 100%;
    order: 2;
    min-height: 250px;
    background: url('../img/woman-computer.jpg') no-repeat;
    transform: scaleX(-1);
    background-size: cover;
  }

  .right {
    // width: 58%;
    padding: 15px 25px 25px;
  }
}

#blog {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;

  & > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  p, a {
    padding-left: 15px;
  }

  p {
    font-weight: bold;
  }

  div.background {
    flex-basis: 100%;
    background: url('../img/veggies.jpg') no-repeat bottom;
    background-size: cover;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;

    a {
      color: $dark-color;
      position: absolute;
      bottom: 20px;
      right: 20px;
      background: #fffa;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;

      &:active {
        background: #eeea;
        color: #4B4D4A;
      }
    }
  }
}

#ueber-mich {
  padding: 15px 25px 25px;

  .row > p,
  .row > div {
    // flex-basis: 50%;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  @media (min-width: 500px) {
    .left, .right {
      flex: 1 50%;
    }

    .right {
      align-self: flex-end;
      padding-bottom: 0.75em;
    }

    img {
      padding: 0 0 0 15px;
    }
  }
}

#kontakt {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 25px 25px;

  div {
    flex-basis: 100%;
    text-align: center;
  }

  p, a {
    flex-basis: 50%;
  }

  a {
    text-align: right;
  }
}
