@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

$blue: #4984de;
$blue-light: #a5c2ee;
$green: #7ea668;
$green-light: #bfd2b4;
$dark-color: #525451;

$primary-font: Verdana, sans-serif;
$headline-font: 'Sue Ellen Francisco', cursive;

h1, h2, h3, h4, p, a, span, strong, section, div, article {
  color: $dark-color;
  font-family: $primary-font;
}

h1 {
  font-size: 20px;
  line-height: 24px;
}

h2, h3, h4 {
  font-family: $headline-font;
  font-size: 20px;
  line-height: 24px;
}

h1, h2 {
  background: url('../img/watercolor_bkdp_middle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  position: relative;

  &:before {
    content: '';
    background: url('../img/watercolor_bkdp_left.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -82px;
    width: 82px;
    height: 100%;
  }

  &:after {
    content: '';
    background: url('../img/watercolor_bkdp_right.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -125px;
    width: 125px;
    height: 100%;
  }
}

nav {
  img {
    max-width: 180px;
    height: auto;
  }

  a {
    font-family: $headline-font;
    font-size: 20px;
    padding: 0 10px;
    line-height: 20px;
    text-decoration: none;

    &:nth-of-type(n+2) {
      border-left: solid 2px $dark-color;
    }
  }
}

section {
  padding: 30px;

  h2 {
    font-size: 54px;
    line-height: 74px;
    margin: 30px 85px 0;
  }

  &.green {
    background: $green-light;

    h2 {
      color: $green;
    }
  }
  &.blue {
    background: $blue-light;

    h2 {
      color: $blue;
    }
  }
}
